<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>здравствуйте!</h1>
    <p>
      У некоторых из Ваших карточек наступила дата пересмотра. Пожалуйста, зайдите на флэшкарточкер и обновите карточки.
    </p>
  </body>
</html>