<% content_for :title, "Флэшкарточкер" %>
<p style="font-size: 22px;">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>
<% if current_user %>
  <% if @card %>
    <p>
      <b>Слово на немецком:</b><br />
      <%= @card.original_text %>
    </p>

  <% if @card.image? %>
        <%= image_tag @card.image_url %>
  <% end %>
  <br />
  <br />
    <%= render 'check_form', card: @card %>
  <% else %>
    <p>
      Вы выучили все доступные карточки. Приходите позже!
    </p>
  <% end %>
<% else %>
Пожалуйста, войдите или зарегистрируйтесь, чтобы продолжить
<% end %>