<% content_for :title, t('.title') %>
<p style="font-size: 22px;">
<%= t('.welcome') %>
</p>
<% if current_user %>
    <div id="card_and_check">
          <%= render 'check_form', card: @card %>
    </div>
<% else %>
  <%= t('.sign_in') %>
<% end %>