<% content_for :title, t('.title') %>
<p style="font-size: 22px;">
<%= t('.welcome') %>
</p>
<% if current_user %>
    <div id="card_and_check">
      <% if @card %>
          <%= render 'check_form', card: @card %>
      <% else %>
        <p>
          <%= t('.no_cards') %>
        
      <% end %>
    </div>
<% else %>
  <%= t('.sign_in') %>
<% end %>