<% content_for :title, "Список карточек" %>
<p style="font-size: 22px;">
Список карточек
</p>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Английское название</th>
    <th>Перевод</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.id %></td>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
    </tr>
  <% end %>
</table>